header {
    background: rgb(255, 255, 255);
    height: 50px;
    color: #FFF;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

#logo{
    margin: 0;
    max-width: 200px;
}

header nav ul{
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    gap: 20px;
    list-style-type: none;
}

header nav ul li{
    list-style-type: none;
}

header nav ul li a{
    color: #2e2e2e;
    text-decoration: none;
}

header nav ul li a.active{
    border-bottom: 5px solid #FFD632;
    padding-bottom: 12px;
}