#main {
    display: flex;
    gap: 20px;
    margin: 20px auto;
    width: 920px;
}

#root {
    background: rgb(243, 243, 243);
}

* {
    /* font-family: math; */
    font-family: 'Poppins', sans-serif;
}


